<header class="header">
  <p class="header-title">
    <a href="https://github.com/FountainJS/generator-fountain-webapp" target="_blank">
      Fountain Generator
    </a>
  </p>
  <p class="header-date">
	  Account options will live here!
  </p>

<!--   <button class="btn btn-primary btn-margin" ng-click="auth.login()" ng-if="!auth.authenticated()">Log In</button>
  <button class="btn btn-primary btn-margin" ng-click="auth.logout()" ng-if="auth.authenticated()">Log Out</button>

 -->

</header>