<header class="header">
  <p class="header-title">
    <a href="https://github.com/FountainJS/generator-fountain-webapp" target="_blank">
      Magnum Chorum
    </a>
  </p>
<!--  <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
    <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button> -->

  </header>


  <!-- 
	<div class="navbar-header">
	  <a class="navbar-brand" href="#">Auth0 - Angular 2</a>
	 
	</div>
 -->